*.pdf
*.dvi
*.eps
*.tif
*.aux
*.out
*.bbl
*.aux
*.blg
*.fff
*.fls
*.fdb_latexmk
*.lof
*.ttt
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.glg
*.gls
*.ilg
*.ind
*.lot
*.maf
*.mtc
*.mtc1
*.synctex.gz
